p {
  justify-content: center;
  align-items: center;
  color: blue;
  text-transform: uppercase;
  text-align: center;
}

h1 {
    color: orangered;
    text-align: center;
}

.radio{
    color: blue;  
    justify-content: center;
}
section {
  text-align: center;
}

h2 {
  justify-content: center;
  text-align: center;
  color: brown;
  align-content: center;
}

h3 {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
}

ul {
  color :chocolate;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a {
  justify-content: center;
  align-content: center;
}

