p {
  justify-content: center;
  color: blue;
  text-transform: uppercase;
  border-radius: 0lvh;
  text-align: center;
}

h1 {
    color: aquamarine;
}

.radio{
    color: blue;
    justify-content: center;
}